.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1280px;
  height: 680px;
  padding: 36px 80px 67px 80px;
  transform: translate(-50%, -50%);
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 44px;
  font-family: inherit;
  text-align: center;
  color: var(--basic-white);
  text-shadow: 0 1px 1px var(--basic-black);
}

.form__items {
  display: flex;
}

.form__label {
  position: relative;
  display: block;
  width: 320px;
  height: 509px;
  margin-right: auto;
}

.form__label:last-child {
  margin-right: 0;
}

.form__buy {
  margin: 0;
  margin-top: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  font-family: var(--basic-font-additional);
  text-align: center;
  color: var(--basic-white);
}

.form__link {
  color: var(--basic-curious-blue);
  text-decoration: none;
  border-bottom: 1px dashed var(--basic-curious-blue);
  cursor: pointer;
}

.form__buy--default {
  display: block;
}

.form__buy--checked {
  display: none;
}

.form__buy--disabled {
  display: none;
}

.form__label--active .form__link {
  color: var(--basic-picton-blue);
  border-bottom: 1px dashed var(--basic-picton-blue);
}

.form__label--active .card__color {
  fill: var(--basic-picton-blue);
}

.form__label--active .card__weight {
  background: var(--basic-picton-blue);
}

.form__checkbox:checked ~ .card .card__background--second .card__color {
  fill: var(--basic-razzmatazz);
}

.form__checkbox:checked ~ .card .card__weight {
  background: var(--basic-razzmatazz);
}

.form__checkbox:checked ~ .card .card__promo--active {
  color: var(--basic-razzmatazz);
}

.form__label--active .form__checkbox:checked ~ .card .card__background--second .card__color {
  fill: var(--basic-cerise-red);
}

.form__label--active .form__checkbox:checked ~ .card .card__weight {
  background: var(--basic-cerise-red);
}

.form__label--active .form__checkbox:checked ~ .card .card__promo {
  color: var(--basic-cerise-red);
}

.form__checkbox:checked ~ .form__buy.form__buy--default {
  display: none;
}

.form__checkbox:checked ~ .form__buy.form__buy--checked {
  display: block;
}

.form__checkbox:disabled ~ .form__buy {
  color: var(--basic-laser-lemon);
}

.form__checkbox:disabled ~ .form__buy.form__buy--default {
  display: none;
}

.form__checkbox:disabled ~ .form__buy.form__buy--disabled {
  display: block;
}

.form__checkbox:disabled ~ .card .card__image {
  opacity: 0.5;
}

.form__checkbox:disabled ~ .card .card__promo {
  color: var(--basic-nobel);
  opacity: 0.5;
}

.form__checkbox:disabled ~ .card .card__title {
  color: var(--basic-nobel);
  opacity: 0.5;
}

.form__checkbox:disabled ~ .card .card__item {
  color: var(--basic-nobel);
  opacity: 0.5;
}

.form__checkbox:disabled ~ .card .card__weight {
  background: var(--basic-nobel);
}

.form__checkbox:disabled ~ .card .card__color {
  fill: var(--basic-nobel);
}
