@font-face {
  font-weight: 100;
  font-family: "Exo-2";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Exo-2-Thin.woff2") format("woff2"),
    url("../fonts/Exo-2-Thin.woff") format("woff"),
    url("../fonts/Exo-2-Thin.ttf") format("truetype"),
    url("../fonts/Exo-2-Thin.otf") format("opentype");
}
