*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-weight: 400;
  font-family: var(--basic-font);
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.container--flex {
  display: flex;
}
