*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-weight: 400;
  font-family: var(--basic-font);
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.container--flex {
  display: flex;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/background@1x.png");
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 49.88%, rgba(0, 0, 0, 0.5) 100%);
}

@media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
  .wrapper {
    background-image: url("../img/background@2x.png");
  }
}
